# Code build
code/build/
code/docs/output/
build/
build-*/

# Pico SDK
code/pico-sdk/

# Local toolchain and helper binaries
tools/

# Bitwig
bitwigPrototype/glitchFXkastle/auto-backups

# Ugly system files
.DS_Store
Thumbs.db
Desktop.ini

# MS Office temporary files
~$*

# Eagle backup files
*.b#?
*.s#?

# VS Code
.vscode/settings.json

# Vim
*.sw?
